h1 {
  font-family: Lato;
  text-align: center;
  background-color: yellowgreen;
  padding: 1rem 10rem 25rem 10rem;
  border-radius: 1rem;
}

h2 {
  position: absolute;
  top: 5rem;
  left: 4.5rem;
  text-align: center;
  background-color: royalblue;
  padding: 1rem 8rem 15rem 8rem;
  border-radius: 1rem;
}

button {
  position: absolute;
  top: 10rem;
  left: 8.5rem;
}
